---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

// If you want a page-specific title
const title = "Event Calendar";
---

<Layout title={title} description="Event Calendar Page">
  <Container>
    <h1 class="animate text-3xl font-semibold text-black dark:text-white my-8 text-center">
      Event Calendar
    </h1>
    <div class="animate rounded-lg border border-black/15 dark:border-white/20 p-4 flex justify-center">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=c_547f21945e0d26ae8870783dcb102aef0ad297c83dbb86bad8c7e4fc8cccb953%40group.calendar.google.com&ctz=America%2FChicago"
        style="border: 0"
        width="800"
        height="600"
        frameborder="0"
        scrolling="no"
        class="rounded shadow-lg">
      </iframe>
    </div>
  </Container>
</Layout>